<div class="button-row menu">
  <button mat-button routerLink="/check-flight" routerLinkActive="active-link" target="_self" color="primary">Check flights</button>
  <button mat-button routerLink="/book-flight" routerLinkActive="active-link" target="_self" color="primary">Book flight</button>
  <button mat-button routerLink="/footer" routerLinkActive="active-link" target="_self" color="primary">Contact</button>

    <!-- <a mat-raised-button routerLink="" target="_self" color="accent" class="logout" (click)="logOut()">LogOut</a> -->
</div>
