<mat-icon svgIcon="airplane" aria-hidden="false" aria-label="Airplane SVG icon" class="svgIcon"></mat-icon>
<app-menu></app-menu>

<app-book-flight></app-book-flight>

<div class="button-row footer">
  <mat-divider></mat-divider>
  <button mat-button routerLink="/footer" routerLinkActive="active-link" target="_self" color="primary">Contact</button>
  <button mat-button routerLink="/footer" routerLinkActive="active-link" target="_self" color="primary">FAQ</button>
  <button mat-button routerLink="/footer" routerLinkActive="active-link" target="_self" color="primary">Rules and regulations</button>
  <button mat-button routerLink="/footer" routerLinkActive="active-link" target="_self" color="primary">Baggage</button>
</div>
<!-- <app-footer></app-footer> -->
