<div>
  <mat-stepper orientation="vertical" [selectedIndex]="stepIndex" [linear]="true">
    <mat-step [completed]="firstStepCompleted">
      <ng-template matStepLabel>Flight details:</ng-template>
        <app-flight-details
          [flight]="flight$ | async"
          [journey]="journey$ | async"
          [departure]="departure$ | async"
          [destination]="destination$ | async"
          [passangersCount]="passangersCount"
          (ticketSubmit)="onTicketSubmit($event)">
        </app-flight-details>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Flight summary:</ng-template>
      <app-summary [ticket]="ticket"></app-summary>
    </mat-step>
  </mat-stepper>
</div>

