<h2 mat-dialog-title>Log In</h2>
<form [formGroup]="logInForm"
      (ngSubmit)="logIn(logInForm.value)"
      class="loginForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label color="basic">Email:</mat-label>
      <input matInput
      placeholder="Email"
      autocomplete="email"
      formControlName="email"
      type="email"
      required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label color="basic">Password:</mat-label>
      <input matInput
            placeholder="Enter password"
            autocomplete="password"
            formControlName="password"
            type="password"
            required>
    </mat-form-field>
    <div *ngIf="errorMessage">{{errorMessage}}</div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Log In</button>
    <button mat-button mat-dialog-close>Continue without login</button>
  </mat-dialog-actions>
</form>
