<mat-list>
  <mat-list-item *ngIf="flight">
    <div mat-line>From: {{departure?.airport}} </div>
    <div mat-line>To: {{destination?.airport}} </div>
    <div mat-line>Flight date: {{flight.date | date}} </div>
    <div mat-line>Number of adult passagers: {{passangersCount?.adult}} </div>
    <div mat-line>Number of children passagers: {{passangersCount?.child}}</div>
    <section class="section">
      <label class="margin">Choose baggage:</label>
      <mat-radio-group [(ngModel)]="typesOfBaggage">
        <mat-radio-button class="margin" value="carry-on">Carry-on luggage</mat-radio-button>
        <mat-radio-button class="margin" value="checked">Checked luggage</mat-radio-button>
      </mat-radio-group>
    </section>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<app-seats></app-seats>
