*,
*:before,
*:after {
  box-sizing: border-box;
}

.plane {
  margin: 20px auto;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;

  &:nth-child(3) {
    margin-right: 14.28571428571429%;
  }

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }

  input.taken {
    +label {
      background: #c2a7aa;
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }

  input.booked {
    +label {
      background: #257ff4;
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }

  input[type=checkbox]:disabled {
    +label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;

      &:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
      }

      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
}

label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #a1b950;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;

  &:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(255, 255, 255, .4);
    border-radius: 3px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #5C6AFF;
  }
}
