<form>
  <div class="plane">
    <ol class="cabin">
      <li *ngFor="let seat of rows" class="row row--1">
        <ol class="seats" type="A">
          <li *ngFor="let placeToSeat of seat" class="seat">
            <input
              (click)="bookAction(placeToSeat)"
              type="checkbox"
              [ngClass]="{'taken' : seats.taken.includes(placeToSeat), 'booked' : seats.booked.includes(placeToSeat)}"
              [id]="placeToSeat" />
              <label [for]="placeToSeat">
                {{placeToSeat}}
              </label>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</form>
